<div th:fragment="boardFrag" id="board" xmlns:th="http://www.w3.org/1999/xhtml">

    <input type="hidden" id="gameId" th:value="${game.id}">
    <input type="hidden" id="playerName" th:value="${#authentication.name}">

    <div class="row" style="margin-top:2%">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div style="display:none;text-align:center;margin-top:1%" class="alert alert-warning"
                id="warningMessageDiv">
                <h4 class="warning" id="warningMessageTxt">Possible connection lost with opponent... Waiting ..</h4>
            </div>

            <div style="text-align:center;margin-top:1%" th:if="${endRoundSoonMessage!=null}"
                class="alert alert-warning">
                <h4 class="warning" th:text="${endRoundSoonMessage}"></h4>
            </div>

            <div style="text-align:center">
                <span class="badge badge-primary" th:text="${game.currentLetter}" style="font-size:8rem;">A</span>
            </div>

            <hr class="hr hr-blurry" />

            <div style="text-align:center;margin-top:2%;" th:if="${answerDto!=null}">
                <form id='answerForm' th:object="${answerDto}" style="width:100%" th:method="post"
                    th:action="@{'/country-city-game/games/'+${game.id}+'/answer'}">

                    <div class="row" th:each="category : ${categories}">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="col-form-label" th:text="${category}"
                                        style="text-align:center;font-size:14px;border-style: groove;width:100%">CategoryName</label>
                                </div>
                                <div class="col-sm-8">
                                    <input style="width:100%;height:100%;" type="text"
                                        th:field="*{answers['__${category}__']}"
                                        onkeyup="this.value = this.value.toUpperCase();" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" style="width:100%">Send Answer</button>

                </form>
            </div>
            <div th:if="${answerDto==null}" style="text-align:center">
                <h1>Waiting for other players!</h1>
            </div>

            <hr class="hr hr-blurry" />


            <div style="margin-top:1%;text-align:center" class="table-responsive">

                <table style="margin-top:1%;" th:if="${game.roundResults!=null}" class="table table-bordered">
                    <thead class="">
                        <tr>
                            <th rowspan="2">Letter</th>
                            <th th:each="category : ${categories}" th:text="${category}"
                                th:colspan="${game.playersCount*2}">
                                Category
                            </th>
                        </tr>
                        <tr>
                            <th:block th:each="category : ${categories}">
                                <th th:each="playerName : ${game.players}" th:text="${playerName}" colspan="2">
                                    PlayerName
                                </th>
                            </th:block>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="result : ${game.roundResults}">
                            <td>
                                <span class="badge badge-primary" th:text="${result.letter}"
                                    style="font-size:1rem;">A</span>
                            </td>
                            <th:block th:each="entry: ${result.categoryResultMap}">
                                <th:block th:each="categoryResult: ${entry.value}">
                                    <td style="vertical-align: middle;"><span th:text="${categoryResult.answer}">
                                        </span></td>
                                    <td style="vertical-align: middle;">
                                        <span
                                            th:class="${categoryResult.points==15 ? 'badge badge-success' : categoryResult.points==10 ? 'badge badge-warning' : categoryResult.points==5 ? 'badge badge-secondary' : 'badge badge-danger'}"
                                            style="font-size:1rem;" th:text="${categoryResult.points}"></span>
                                    </td>
                                </th:block>
                            </th:block>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>


</div>