<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Round summary</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

</head>

<body>

<div th:replace="fragments/topnav :: navbar"/>


<div class="row" style="margin-top:2%">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h4  style="text-align:center"> Game Over !</h4>

        <table class="table" style="margin-top:1%">
            <thead>
            <tr style="text-align:center">
                <th scope="col">Place</th>
                <th scope="col">Points</th>
                <th scope="col">Summary Time</th>
                <th scope="col">Player</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="playerSummary : ${gameSummary.playersResults}" style="text-align:center">
                <td>
                    <i th:class="${'bi bi-' + playerSummary.place.number +'-circle'}"
                       th:style="${'color:' + playerSummary.place.color +';font-size:2vw'}"></i>
                </td>
                <td>
                    <span th:text="${playerSummary.points}" style="font-size:2vw">Points</span>
                </td>
                <td>
                    <span th:text="${playerSummary.getSummaryTimeText()}" style="font-size:2vw">Summary Time</span>
                </td>
                <td>
                    <span th:text="${playerSummary.name}" style="font-size:2vw">Player</span>
                </td>

            </tr>
            </tbody>
        </table>

        <div th:replace="fragments/game-result-table :: gameResultTable" />

    </div>
    <div class="col-md-2"></div>
</div>

</body>

</html>